*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*############CSS FOR HEADER STARTS HERE#############*/
body{
	font-family: 'Roboto', sans-serif;
}

header{
	width: 100%;
	padding: 60px 0 107px 0;
	background-color: #fcdb00;
}

.logo{
	display: inline-block;
	height: 47px;
}

.navbar{
	list-style: none;
	text-align: right;
}
.navbar li{
	display: inline-block;
	margin-left: 20px;
}
.navbar li a:link,
.navbar li a:visited{
	text-decoration: none;
	text-transform: capitalize;
	font-size: 22px;
	font-weight: bold;
	color: #010101;
	padding: 0 25px;
	height: 47px;
	display: inline-block;
	line-height: 47px;
	position: relative;
	transition: all 0.6s ease-in-out;
	z-index: 1;
}
.navbar li a:hover,
.navbar li a:focus,
.navbar li a:active{
	color: #fff;
}
.navbar a::after{
	content: '';
	background-color: #010101;
	width: 0%;
	height: 100%;
	display: inline-block;
	transition: all 0.6s ease-in-out;
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: -1;
}
.navbar a:hover::after,
.navbar a:focus::after,
.navbar a:active::after{
	width: 100%;
	left: 0;
}

.ipad{
	margin-left: 100px;
}
.brandicons{
	list-style: none;
}
.brandicons li{
	display: inline-block;
	margin-right: 35px;
}
.brandicons li a:link,
.brandicons li a:visited{
	display: inline-block;
	color: #010101;
}
.brandicons i{
	font-size: 42px;
	transition: all 0.7s ease-in-out;
}
.brandicons i:hover,
.brandicons i:focus,
.brandicons i:active{
	transform: scale(2, 2);
}

/*############CSS FOR FEATURE SECTION STARTS HERE#############*/

.feature{
	padding: 117px 0 167px;
}
.feature .pri-heading{
	margin-bottom: 20px;
}
.animate__animated.animate__pulse,
.animate__animated.animate__jackInTheBox{
	animation-duration: .7s;
}
.thumbnail i{
	font-size: 50px;
	color: #010101;
}
.thumbnail h1{
	font-size: 22px;
	margin-bottom: 15px;
	text-transform: capitalize;
}
.thumbnail p{
	color: #898989;
	font-size: 16px;
}

/*###################CSS FOR FOOTER STARTS HERE###################*/

footer{
	background-color: #010101;
	padding: 95px 0 141px;
}
footer .pri-heading{
	color: #fcdb00;
}
footer .sec-heading{
	color: #898989;
}
footer .brandicons li{
	margin-right: 30px;
}
footer .brandicons i{
	color: #fcdb00;
}
.submitbutton{
	padding: 19px 35px;
	border : 2px solid #fbdb00;
	background-color: #fbdb00;
	border-radius: 5px;
	font-weight: bold;
	font-size: 16px;
	margin-left: 21px;
}
.submitbutton{
	transition: all 0s ease-in-out;
}
.submitbutton:active,
.submitbutton:focus{
	transform: scale(0.9, 0.9);	
}
#email{
	width: calc(100% - 160px);
	padding: 20px 0 20px 24px;
	border-radius: 5px;
	border : 2px solid #ffffff;
}
#email:hover,
#email:active,
#email:focus{
	border: 2px solid #010101;
	outline-offset: 3px;
}
.button-submit::placeholder{
	color: #898989;
	font-size: 16px;
	font-weight: bold;
}
.button-submit{
	margin-bottom: 80px;
}


.address{
	list-style: none;
}
.address li,
.address a:link,
.address a:visited{
	color: #ffffff;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
}